<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/index.css">
</head>
<body>
<div class="container">
    <div class="row">
        <form method="POST" action="http://127.0.0.1:8000/user/create">
            <div class="form-group">
                <label for="firstname-field">Firstname:</label>
                <input id="firstname-field" class="form-control" type="text" name="firstname" placeholder="enter you firstname">
            </div>

            <div class="form-group">
                <label for="lastname-field">Lastname:</label>
                <input id="lastname-field" class="form-control" type="text" name="lastname" placeholder="enter you lastname">
            </div>

            <div class="test form-group">
                <label for="age">Age:</label>
                <input id="age" class="form-control" type="number" name="age" placeholder="enter you age">
            </div>

            <div class="test form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" type="email" name="email" placeholder="enter you email">
            </div>

            <button type="submit" class="btn btn-info">Send</button>
        </form>
<!--        {% if age < 18 %}-->
<!--            <h3>Access denied</h3>-->
<!--        {% else %}-->
<!--            <h3>Hello</h3>-->
<!--        {% endif %}-->

<!--        <div>-->
<!--            <ul>-->
<!--                {% for user in users %}-->
<!--                    <li>{{ user.name }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>